footer {
    display: flex;
    justify-content: center;
    background-color: #E3E3E3;
    padding: 74px 0px;
    gap: 142px;
    text-transform: uppercase;
    margin-top: 100px;
}

.footer {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo {
    font-size: 36px;
    font-family: 'Marcellus' !important;
    font-style: normal;
    font-weight: 400;
}
.footer p{
    color: #303030;
}
.footer-info{
    text-transform: none;
}
.footer-menu{
    display: flex;
    flex-direction: column;
    gap: 4px;
}